*{
    color: rgb(0, 2, 3);
}
.pernilContainer{
    width: 100%;
    
    text-align: center;
   margin-top: 0%;
    margin-bottom: 80px;
    display: flex;
    height: 5vh;
    background-color: brown;
}
.pernilCategory{
  width: 33%;
  border: 1px solid #1b1b1b;
  border-bottom: none;
  border-top: none;
  text-align: center;
  margin: auto;
  
}
.pernilContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #4b2685;
  padding: 40px 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
  height: 60%;
  
}

.pernilCategory:hover{
  background-color: rgb(36, 205, 218);
}
#formPerfil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #24dada;
  padding: 20px 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
  height: 100%;

}
.cadastroCachorro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #24dada;
  padding: 20px 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
  height: 100%;
  max-height: 676px;
}
.listaCachorros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #24dada;
  padding: 20px 20px;
  overflow-y:scroll;    /* cria barra de rolagem vertical */
  overflow-x: hidden;  /* evita scroll horizontal */
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
  height: 100%;
  max-height: 676px;
}
ul{
  list-style: none;
}